<p id="notice"><%= notice %></p>

<h2 class="text-center bg-dark text-light m-0">Songstagram</h2>

<table>
  <tbody>
    <% @posts.each do |post| %>
      <%= render 'post', post: post %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
