<p id="notice"><%= notice %></p>

<h2 class="text-center m-0">Songstagram</h2>

<% @posts.each do |post| %>
  <%= render 'post', post: post %>
<% end %>

<br>

<%= link_to 'New Post', new_post_path %>
